body * {
  border: .5px solid black;
}

html {
  width: 100%;
}

body, header, footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-width: 100%;
}

header, footer {
  flex-flow: row nowrap;
}


.card-container {
  display: grid;
  grid-template: repeat(2, 500px) / repeat(3, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}


img {
  width: 50px;
  height: 50px;
}