html {
  width: 100%;
  overflow-x: hidden;
}

body,
header,
footer,
.links,
.card,
figure,
.phone,
.mail,
header > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-width: 100%;
}

header,
footer,
header > div {
  flex-flow: row nowrap;
  max-height: 500px;
}

.links {
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;

  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 3rem 5rem;
  min-width: revert;
}

.links img,
.phone img,
.mail img  {
  width: 29px;
  height: 29px;
  transition: opacity 0.5s;
}

.links img:last-child {
  width: 26px;
  height: 26px;
}

h1 {
  font-size: 50px;
}

header,
main,
footer {
  padding: 3rem 5rem;
  background-color: white;
}

figure {
  position: relative;
}

i {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  font-size: small;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.384);
}

/* header content styling */
.about-picture img {
  width: 80rem;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.5rem;
}

header figure {
  height: 100%;
}

.about-picture + div {
  padding: 2rem 5rem;
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.5rem;
}

/* main content styling */
body {
  background: rgb(104, 33, 125);
  background: linear-gradient(
    90deg,
    rgba(104, 33, 125, 1) 0%,
    rgba(53, 43, 148, 1) 70%,
    rgba(56, 47, 214, 1) 90%,
    rgba(74, 65, 228, 1) 95%,
    rgba(11, 111, 214, 1) 100%
  );
}

main {
  background-color: revert;
  padding-top: 6rem;
}

main h1 {
  color: rgba(255, 255, 255, 0.8);
}

.card-container {
  display: grid;
  grid-template: repeat(2, 400px) / repeat(3, minmax(300px, 1fr));
  gap: 5rem;
  padding: 3rem;
}

.card {
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 5rem;
  background-color: rgba(255, 255, 255, 0.537);
  border-radius: 5px;
  padding: 3rem;
  justify-content: flex-start;
  position: relative;
  transition: transform 0.5s;
}

.card figure {
  align-items: center;
  padding-bottom: 3rem;
}

.card figure img {
  transition: transform 1s ease-in-out 0s;
  width: 120px;
  height: 120px;
  object-fit: fill;
}

.card > div:first-of-type {
  padding-top: 2rem;
}

.card .links {
  padding: 3rem;
}

/* footer styling */

footer figure {
  min-width: revert;
}

footer figure img {
  width: 60rem;
  height: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.5rem;
}

footer .links {
  position: revert;
  padding-left: revert;
  justify-content: revert;
  gap: 1rem;
}

footer > div:first-child > p {
  max-width: 70ch;
  padding-bottom: 3rem;
  padding-right: 1rem;
}

footer > div:first-child > div {
  padding-top: 1rem;
}

.phone,
.mail {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

/* transform css */
header > * {
  transform: translateY(6rem) skewY(7deg) scale(0.6);
}
header {
  transform: translateY(-8rem) skewY(-7deg) scale(1.5);
}

header figure {
  transform: scale(1.15);
  z-index: 1;
}

.card:hover figure > img {
  transform: scale(1.5) rotate3d(1, 1, 1, 360deg);
}
.card:hover {
  transform: scale(1.1);
}

.links img:hover {
  opacity: 0.6;
  cursor: pointer;
}
